@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  background-color: #f6f6f6;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ebebeb;
  border: 2px solid #240a0a2b;
  border-radius: 25px;
  color: #2d2d2d;
  width: 50%;
  padding: 25px 0;
}

.left-div h1 {
  line-height: 30px;
  font-weight: 800;
}

.left > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
}

.right div {
  /* line-height: 10px; */
  margin-bottom: 20px;
}

div h2 {
  margin-bottom: 0;
  color: #6a8ca9;
  font-weight: 600;
}

div p {
  margin-top: 0;
}

button {
  padding: 15px;
  font-size: 14px;
  background-color: #0505e6;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

a {
  cursor: pointer;
}

/* @media screen and (max-width: 700px) {
  main {
    padding: 25px;
    width: 70%;
  }
} */

@media screen and (max-width: 700px) {
  main {
    display: block;
    width: 100%;
    padding: 50px 0;
    margin: 0 20px;
  }

  .left,
  .right {
    text-align: center;
  }

  .left-div h1 {
    line-height: 45px;
    font-size: 42px;
  }

  div h2 {
    font-size: 28px;
  }
}
